@using Microsoft.JSInterop
@inherits WAComponentBase

<wa-dialog @ref="@Element"
           id="@Id"
           @attributes="@AdditionalAttributes"
           style="@StyleNames"
           class="@ClassNames"
           slot="@Slot"
           label="@Title"
           without-header="@WithoutHeader"
           without-footer="@WithoutFooter"
           light-dismiss="@LightDismiss">
    @if (IsVisible)
    {
        @if (HeaderActions != null)
        {
            <span slot="header-actions">@HeaderActions</span>
        }
        @ChildContent
        @DialogBody
        @if (!WithoutFooter)
        {
            <span slot="footer">@DialogFooter</span>
        }
    }
</wa-dialog>

