@using Microsoft.AspNetCore.Components.Forms
@using System.Linq.Expressions
@using Microsoft.JSInterop
@using System.Globalization

@typeparam TValue
@inherits WAComponentBase

<wa-time-input @ref="@Element"
               id="@Id"
               @attributes="@AdditionalAttributes"
               style="@StyleNames"
               class="@ClassNames"
               slot="@Slot"
               value="@formattedValue"
               size="@SizeString"
               appearance="@AppearanceString"
               pill="@Pill"
               label="@Label"
               hint="@Hint"
               with-clear="@Clearable"
               readonly="@ReadOnly"
               required="@Required"
               disabled="@Disabled"
               autocomplete="@Autocomplete"
               distance="@PopupDistance"
               max="@MaximumTime?.ToString("HH:mm:ss.fff")"
               min="@MinimumTime?.ToString("HH:mm:ss.fff")"
               placement="@PopupPlacementString"
               @onchange="OnValueChanged"
               hour-format="@HourFormatString"
               with-now="@ShowNowButton"
               step="@Step">
    @if (ClearIcon != null || !String.IsNullOrWhiteSpace(ClearIconName))
    {
        <WAIcon Icon="@ClearIcon" IconName="@ClearIconName" Slot="clear-icon"></WAIcon>
    }
    @if (ExpandIcon != null || !String.IsNullOrWhiteSpace(ExpandIconName))
    {
        <WAIcon Icon="@ExpandIcon" IconName="@ExpandIconName" Slot="expand-icon"></WAIcon>
    }
    @if (FooterContent is not null)
    {
        <span slot="footer">
            @FooterContent
        </span>
    }
    @if (EndContent is not null)
    {
        <span slot="end">
            @EndContent
        </span>
    }
    @if (StartContent is not null)
    {
        <span slot="start">
            @StartContent
        </span>
    }
    @ChildContent
</wa-time-input>
