@inherits WAComponentBase
@if (ToastMessage != null)
{
    <div class="toast-message @ClassNames" style="@StyleNames">
        <div class="wa-stack wa-gap-0 ">
            <div class="wa-flank toast-body wa-align-items-center justify-content-center ">
                @if (!String.IsNullOrEmpty(ToastMessage.IconName))
                {
                    <WAIcon IconName="toastMessage.IconName" IconVariant="toastMessage.IconVariant" IconFamily="toastMessage.IconFamily" />
                }
                <div class="wa-flank:end">
                    <div class="wa-stack wa-gap-xs">
                        <strong>@ToastMessage.Title</strong>
                        <p>@ToastMessage.Message</p>
                    </div>
                    @if (ToastMessage.Dismissable && ToastMessage.Timeout == 0)
                    {
                        <WAButton OnClick="OnDismissToast" Appearance="ButtonAppearance.Plain">
                            <WAIcon Icon="Icons.XMark" Label="Dismiss" />
                        </WAButton>
                    }
                </div>

            </div>
            @if(ProgressBarValue > -1){
                <WAProgressBar Value="@ProgressBarValue" TrackHeight="5px" Style="border-radius: 0; --indicator-color: var(--wa-color-on-quiet); background-color: var(--wa-color-fill-quiet);" />
            }
        </div>
    </div>
}
